@import url('https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap');

/* CSS RESET */
html, body, ul, li, a, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-container {
    background-color: #f6f7fc;
    box-shadow: 0 60px 120px rgba(71, 69, 123, 0.24), 0 15px 35px rgba(71, 69, 123, 0.24);
    width: 400px;
    height: 800px;
}
.order-image {
    background: url(./assets/question.jpg) no-repeat center;
    background-size: cover;
    height: 190px;
    width: 100%;
    overflow: hidden;
}

form {
    padding: 0 20px;
}

.form-content {
    margin: 0 16px 0;
    padding-top: 34px;
}
h1 {
    color: #B1BBC7;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h2 {
    color: #373352;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 16px 0 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.form-group.radio {
    flex-direction: column;
    margin-bottom: 8px;
}

.form-group .form-item {
    flex: 1 0 auto;
    width: 48%;
}

.form-group .form-item:first-child {
    margin-right: 6px;
}
.form-item {
    margin-bottom: 6px;
    width: 100%;
    position: relative;
}

.order-display,
.form-item select {
    background: #fff;
    border: 1px solid #e4e8eb;
    color: #433C71;
    font-size: 15px;
    font-weight: 600;
    height: 45px;
    width: 100%;
}

.order-display,
.form-item select.order {
    border: none;
    box-shadow: 0 60px 120px rgba(71, 69, 123, 0.24), 0 15px 35px rgba(71, 69, 123, 0.24);
    margin: -30px auto 0;
    width: 100%;
    position: absolute;
}

.form-item.sizing {
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -24px;
    padding-top: 20px;
}

.form-item.sizing label {
    display: block;
    margin-right: 10px;
}
.form-item.sizing select {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    width: 120px;
    height: 32px;
}

.order-display {
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 0 0 12px;
    width: calc(100% - 52px);
}
.page-two .order-display {
    margin-top: -22px;
}

.form-item label {
    display: none;
}

.form-item input {
    border-radius: 3px;
    border: 1px solid #e4e8eb;
    box-sizing: border-box;
    color: #464a5c;
    font-size: 16px;
    font-weight: 300;
    height: 44px;
    padding: 8px 12px 10px 12px;
    width: 100%;
}

.form-item input::placeholder {
    color: #999;
}

.js-size {
    display: none;
}

.confirm-button {
    position: relative;
    background: #363292;
    border-color: transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 16px auto;
    height: 42px;
    width: 90%;
}


.lds-ripple {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    top: -21px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.confirm-button:disabled {
    cursor: not-allowed;
    opacity: .6;
}

.confirm-button:disabled .button-label {
    display: none;
}
.confirm-button:disabled .lds-ripple {
    display: inline-block;
}

.error-message {
    display: none;
    margin: 0 auto;
    border: 1px solid red;
    height: 75px;
    width: 80%;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 14px;
}