<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Confirmation</title>
</head>
<body>
  <h1>Thanks for ordering, <%= name %>!</h1>
  <p>Your order of <%= product %>  will be sent to your home in <%= province %>, Canada. Thank you for participating!</p>
</body>
</html>